body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: "Montserrat Alternates", sans-serif;
  margin: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  display: flex;
  justify-content: center;
  font-size: 70px;
  color: #f5f5f5;
  padding: 10px;
  box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
  width: 100%;
}

.container {
  background-color: rgba(0, 0, 0, 0.2);
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  color: rgb(249, 246, 238);
  font-size: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reason-container {
  padding: 10px;
}

#heart {
  margin-left: 400px;
}
